<?xml version="1.0" encoding="utf-8"?><App.Settings xmlns:clr="http://schemas.cleverence.ru/clr" hasServerAuth="False" mSServerAddress="https://win10-x64:10502" serverAppInstanceId="wh" serverAppInstanceName=""><ConnectionIdentifyingRules byIp="False" byMachineName="True" byWindowsUserName="False" /><ExchangeFolders count="0" /><Mode>Server</Mode><ServerSettings><DataService deviceAuth="False" enabled="True" passwordAuth="False" port="9000" useHttps="False" /><PrintService deviceAuth="False" enabled="False" passwordAuth="False" port="9001" useHttps="False" /></ServerSettings><SortedDictionary>null</SortedDictionary></App.Settings>